name: Widget tests & code analysis

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v2.5.0
        with:
          distribution: 'temurin'
          java-version: '11'
      # Use the community Action to install Flutter
      - uses: subosito/flutter-action@v1
      - name: Version
        run: flutter doctor -v
      - name: Install dependencies
        run: flutter pub get
      - name: Format
        run: flutter format -n --set-exit-if-changed .
      - name: Linter
        run: flutter analyze
      - name: Test
        run: flutter test
